---
// Astro Components
import { SEO } from "astro-seo";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Container from "../components/Container.astro";
import MainButton from "../components/MainButton.astro";
import Logo from "../components/Logo.astro";
---

<head>
  <SEO
    title="Victor Benazzi - Web Designer"
    description="Criação de Sites e landing pages que convertem."
    openGraph={{
      basic: {
        title: "Front-end Developer e Web Designer",
        type: "Website",
        image: "https://www.victorbenazzi.com.br/Og-SEO.png",
      },
    }}
  />
</head>

<Layout>
  <Container>
    <section
      class="flex flex-col items-center justify-center gap-y-2 w-full h-[440px] mt-20 relative animate-BottomToTop">
      
      <h1
        class="text-5xl  text-stone-50 font-bold text-center">
        Website Development Specialist
      </h1>
      <p class="text-stone-300 text-center w-full ">
        @ <a href="http://optidata.cloud" target="_blank">Optidata</a> 
        <!-- Sou web designer e front-end developer, especialista em criar sites e
        landing pages incríveis. Desenvolvo soluções web que aliam design,
        funcionalidade e responsividade. -->
      </p>
     
    </section>
  </Container>

</Layout>
