---
import { SEO } from "astro-seo";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import MainButton from "../components/MainButton.astro";
import LogoSimbol from "../components/LogoSimbol.astro";
import { Image } from "astro:assets";
import  DonutsImg from "../assets/donuts-bg.png";



---
<head>
  <head>
    <SEO
      title="Victor Benazzi - Webdesigner"
      description="Criação de Sites e landing pages que convertem."
      openGraph={{
        basic: {
          title: "Victor Benazzi - Webdesigner",
          type: "Website",
          image: "https://i.imgur.com/hBQ4P4Y.png",
        }
      }}
     
    
    />
</head>

<Layout title="Victor Benazzi - Web Designer">
  <header class="flex flex-row items-center justify-between w-full xl:p-10 p-4 ">
    <span class="text-indigo-300 text-lg">Victor Benazzi</span>
     <LogoSimbol />
     <div class="flex flex-row items-center justify-center gap-x-4">

      <a href="https://github.com/victorbenazzi/" target="_blank">
        <div class="flex flex-row items-center justify-center bg-zinc-900 hover:bg-indigo-hover transition-all text-indigo-300 rounded w-10 h-10">
        <div class="w-6 h-6 ">
          <Icon
            name="ph:github-logo-fill"
          />
  
        </div>
      </div>
      </a>


      <a href="https://www.linkedin.com/in/victorbenazzi/" target="_blank">
      <div class="flex flex-row items-center justify-center bg-zinc-900 hover:bg-indigo-hover transition-all text-indigo-300 rounded w-10 h-10">
        <div class="w-6 h-6">
          <Icon
            name="ph:linkedin-logo-fill"
          />
        </div>
      </div>
      </a>


    </div>
   </header>
  <div class="flex flex-col items-center justify-between">
   <section class="flex flex-row w-11/12 max-w-[1500px] xl:h-[800px] h-[500px] items-center justify-between relative">
   
    <div class="flex flex-col gap-y-6 md:w-full">
      <h1 class="lg:text-8xl xl:text-8xl md:text-6xl text-4xl text-slate-50 font-bold">
        Web Designer <span class="text-indigo-300">&<br></span> Front-end Developer
      </h1>
      <p class="text-slate-100 xl:w-[50%] w-[100%] text-base ">
        Sou um web designer e front-end developer especializado em criar sites
        e landing pages incríveis. Com HTML, CSS, JavaScript, WordPress e
        outras tecnologias, desenvolvo soluções web que combinam design,
        funcionalidade e responsividade.
      </p>
      <MainButton 
      labelButton="Fale comigo"
      link="https://wa.me/5569992993889"
      target="_blank"
      />
    </div>


    <div class="absolute xl:right-[-40px] xl:top-20 top-10 right-0">
      <Image
        src={DonutsImg}
        alt="victor Benazzi Background"
        width="800"
      />

   </section>
  </div>
  
   





</Layout>


