---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---


<Layout title="Victor Benazzi - Web Designer">
	<div class="flex flex-col justify-center items-center">
		<header class=" flex flex-col items-center justify-center w-full h-16 mt-4 px-4 gap-x-2 ">
		<h3 class="text-slate-50 ">Victor Benazzi</h3>
		
		 <div class="flex flex-row items-center justify-between">
			<a href="https://github.com/victorbenazzi/" target="_blank">
				<div class=" w-8 h-8">
					<Icon name="ph:github-logo-duotone" class="text-slate-50 hover:text-violet-700"/>
				</div>
			</a>
			<a href="https://www.linkedin.com/in/victorbenazzi/" target="_blank">
				<div class=" w-8 h-8">
					<Icon name="ph:linkedin-logo-duotone" class="text-slate-50 hover:text-violet-700"/>
				</div>
			</a>
		</div>
		</header>
	</div>
</Layout>

<style lang="css">
   
  
</style>