---
const date = new Date();
const currentYear = date.getFullYear();
---

<footer
  class="flex items-center justify-center w-full h-8 py-8 border-t border-stone-800 mt-20 px-6 bg-stone-950">
  <p class="text-stone-500 text-sm">{currentYear} · Victor Matos Benazzi</p>
</footer>
