---
import LogoSimbol from "../components/LogoSimbol.astro";
---

<header class="flex flex-row items-center justify-between w-full p-6">
    <span class="text-indigo-300 text-lg text-bold"><a href="/"> Victor Benazzi</a></span>

     
  <navbar class="flex flex-row w-auto h-auto gap-x-8 ">
    <a class="text-indigo-300 hover:text-indigo-200 text-base font-bold" href="/">Início</a>
    <a class="text-indigo-300 hover:text-indigo-200 text-base font-bold"  href="/projetos">Projetos</a>
  </navbar>

   </header>