---

---

<header class="flex flex-row items-center justify-center w-full p-6 border-b border-stone-800">
  <div class="flex flex-row items-center justify-between w-full xl:w-[1440px] px-6">

  <a href="/"><span class="text-stone-300 text-base text-bold p-2 px-4 border border-stone-800 bg-stone-900  rounded-lg"> Victor Benazzi</span></a>

     
  <navbar class="flex flex-row h-auto gap-x-8">
    <a class="text-stone-200 hover:text-stone-50 text-base font-bold" href="/">Início</a>
    <a class="text-stone-200 hover:text-stone-50 text-base font-bold"  href="/projetos">Projetos</a>
  </navbar>
  </div>
   </header>