---

import MainButton from "./MainButton.astro";
import { Icon } from "astro-icon";
---

<div class="flex flex-col items-center gap-y-4 w-full lg:items-end">
    <div class="grid grid-cols-2 gap-4">
        <!-- Card location -->
        <div class="flex flex-col items-start justify-center gap-y-6 text-left p-8 text-xl rounded-xl col-span-2 lg:col-span-1 border-stone-800 border">
           
            <div class="flex flex-row items-center justify-center text-stone-100">
                <div class="w-8 h-8">
                  <Icon
                    name="noto:pushpin"
                  />
          
                </div>
              </div>


            <p class="text-slate-50 ">
                Based in<br>
                Chapecó,<br>
                Santa Catarina
            </p>
        </div>

        <!-- Card Image -->
            <div class="col-span-2 lg:col-span-1 grid grid-cols-2 gap-2">
                <a href="https://github.com/victorbenazzi/" target="_blank">
                    <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800">
                    <div class="w-8 h-8 ">
                      <Icon
                        name="ph:github-logo-fill"
                      />
              
                    </div>
                  </div>
                  </a>
                  <a href="https://www.linkedin.com/in/victorbenazzi/" target="_blank">
                    <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800">
                    <div class="w-8 h-8  ">
                      <Icon
                        name="ph:linkedin-logo-fill"
                      />
              
                    </div>
                  </div>
                  </a>
                  <a href="https://www.instagram.com/victorbenazzi" target="_blank">
                    <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800">
                    <div class="w-8 h-8  ">
                      <Icon
                        name="ph:instagram-logo-fill"
                      />
              
                    </div>
                  </div>
                  </a>
                  <a href="https://www.behance.net/victorbenazzi" target="_blank">
                    <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800">
                    <div class="w-8 h-8  ">
                      <Icon
                        name="ph:behance-logo-fill"
                      />
              
                    </div>
                  </div>
                  </a>
            </div>
        <div class="col-span-2 p-8 border-stone-800 border text-stone-50 rounded-xl" transition:name="falecomigocard">
            <div class="flex flex-col gap-y-6 ">
                <div class="flex flex-row items-center justify-start text-stone-100">
                    <div class="w-10 h-10">
                      <Icon
                        name="noto:rocket"
                      />
              
                    </div>
                  </div>
                    <h2 class="text-2xl leading-none  text-stone-300">Tem um projeto em <br> mente?</h2>
                    <MainButton 
                    labelButton="Fale comigo"
                    link="https://wa.me/5569992993889"
                    target="_blank"
            
                 />
             </div>
        </div>  
    </div>
</div>