---
export interface props {
    link: string;
    label: string;
  

}

const { link, label } = Astro.props;

---


<a href={link} class="flex flex-row text-stone-100 items-center gap-x-2 justify-start px-4 py-1 rounded-lg border border-stone-800  hover:border-blue-400 hover:text-blue-400 my-4 w-fit" target="_blank" aria-label={`Este é um link externo`}>
<img class="favicon w-4 h-4" src={`https://www.google.com/s2/favicons?domain=${link}`} alt="Favicon" />
{label}
</a>

