---
import Tooltip from "./Tooltip.astro";
export interface Props {
    Label: string;
}
const { Label } = Astro.props
---


<Tooltip Label={Label}>
<div class="flex items-center flex-col gap-4 h-auto">
<div
  class="flex items-center justify-center w-[100px] h-[100px] rounded-3xl p-px bg-gradient-to-r from-yellow-500 via-pink-500 to-cyan-500 overflow-hidden cursor-pointer"
>
  <div class="class flex items-center justify-center bg-gradient-to-b from-zinc-800 to-zinc-900 rounded-3xl w-full h-full">
   <slot />
  </div>
</div>
</div>
</Tooltip>