---

export interface Props {
    labelButton: string;
    link: string;
    target: string;
}
const { labelButton,  link, target } = Astro.props;
---





<button class="flex flex-row items-center justify-center bg-stone-200 hover:bg-stone-50 px-4 py-2 transition-all rounded-lg text-stone-900 w-fit h-auto relative">
    <a href={link} target={target} class="flex flew-row w-full items-center justify-center gap-4">
    <p>{labelButton}</p>
    </a>
</button>



