---

export interface Props {
    labelButton: string;
    link: string;
    target: string;
}
const { labelButton,  link, target } = Astro.props;
---





<button class="flex flex-row items-center justify-center bg-indigo-300 hover:bg-indigo-200 px-6 py-4 transition-all rounded-full text-slate-950 w-[200px] h-auto relative">
    <a href={link} target={target} class="flex flew-row w-full items-center justify-center gap-4">
    <p>{labelButton}</p>
    </a>
</button>



