---
import { Icon } from "astro-icon";
import SocialIcons from "./SocialIcons.astro";
---

<nav class="flex flex-row gap-x-2 h-auto w-fit items-center justify-center">
  <!-- <div
    id="MenuDesktop"
    class="hidden md:flex flex-row items-center justify-center">
    <a
      class="text-stone-200 hover:text-stone-50 px-4 py-2 hover:bg-stone-900 rounded-lg text-base font-bold"
      href="/">Início</a
    >

    <a
      class="text-stone-200 hover:text-stone-50 px-4 py-2 hover:bg-stone-900 rounded-lg text-base font-bold"
      href="/blog">Blog</a
    >
  </div> -->
  <SocialIcons />
  <!-- <div id="BtnMenuMobile" class="flex md:hidden flex-row gap-x-8">
    <button
      id="menu-toggle"
      class="p-2 border rounded-lg border-stone-800"
      aria-label="Botão para o menu principal">
      <div class="w-4 h-4 text-stone-50">
        <Icon name="ph:list-bold" />
      </div>
    </button>
  </div>
  <div
    id="MenuMobile"
    class="hidden absolute top-0 left-0 w-full bg-neutral-950 h-fit border-b border-neutral-800 mt-20 md:hidden">
    <div
      class="flex flex-col items-start w-full justify-center p-4 gap-y-4 z-50">
      <a
        class="text-stone-200 hover:text-stone-50 px-4 py-2 hover:bg-stone-900 rounded-lg text-lg font-bold"
        href="/">Início</a
      >

      <a
        class="text-stone-200 hover:text-stone-50 px-4 py-2 hover:bg-stone-900 rounded-lg text-lg font-bold"
        href="/blog">Blog</a
      >
    </div>
  </div> -->
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const menuMobile = document.getElementById("MenuMobile");

    menuToggle.addEventListener("click", function () {
      menuMobile.classList.toggle("hidden");
    });
  });
</script>
