---
import { Icon } from "astro-icon";
---

<div class="flex flex-row items-center justify-start gap-x-4">

    <a href="https://github.com/victorbenazzi/" target="_blank">
      <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg w-10 h-10 border border-stone-800">
      <div class="w-6 h-6 ">
        <Icon
          name="ph:github-logo-fill"
        />

      </div>
    </div>
    </a>


    <a href="https://www.linkedin.com/in/victorbenazzi/" target="_blank">
    <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg w-10 h-10 border border-stone-800">
      <div class="w-6 h-6">
        <Icon
          name="ph:linkedin-logo-fill"
        />
      </div>
    </div>
    </a>


  </div>