---
import { Icon } from "astro-icon";
---

<div class="flex flex-row items-center justify-center gap-x-2">
  <a
    href="https://github.com/victorbenazzi/"
    target="_blank"
    aria-label="Link para o meu perfil no Github">
    <div
      class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-full p-2 border border-stone-800">
      <div class="w-4 h-4">
        <Icon name="mdi:github" />
      </div>
    </div>
  </a>
  <a
    href="https://www.linkedin.com/in/victorbenazzi/"
    target="_blank"
    aria-label="Link para o meu perfil no Linkedin">
    <div
      class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-full p-2 border border-stone-800">
      <div class="w-4 h-4">
        <Icon name="ph:linkedin-logo-fill" />
      </div>
    </div>
  </a>
  <a
    href="https://www.instagram.com/victorbnzz/"
    target="_blank"
    aria-label="Link para o meu perfil no Instagram">
    <div
      class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-full p-2 border border-stone-800">
      <div class="w-4 h-4">
        <Icon name="ph:instagram-logo-fill" />
      </div>
    </div>
  </a>
</div>
