---
import { Icon } from "astro-icon";
---

<div class="flex flex-row gap-x-4">
  <a href="https://github.com/victorbenazzi/" target="_blank">
      <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800 p-2">
      <div class="w-8 h-8 ">
        <Icon
          name="ph:github-logo-fill"
        />

      </div>
    </div>
    </a>
    <a href="https://www.linkedin.com/in/victorbenazzi/" target="_blank">
      <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800 p-2">
      <div class="w-8 h-8  ">
        <Icon
          name="ph:linkedin-logo-fill"
        />

      </div>
    </div>
    </a>
    <a href="https://www.instagram.com/victorbenazzi" target="_blank">
      <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800 p-2">
      <div class="w-8 h-8  ">
        <Icon
          name="ph:instagram-logo-fill"
        />

      </div>
    </div>
    </a>
    <!-- <a href="https://www.behance.net/victorbenazzi" target="_blank">
      <div class="flex flex-row items-center justify-center bg-stone-950 hover:bg-stone-800 transition-all text-stone-100 hover:text-stone-50 rounded-lg h-full border border-stone-800 p-2">
      <div class="w-8 h-8  ">
        <Icon
          name="ph:behance-logo-fill"
        />

      </div>
    </div>
    </a> -->
</div>