---

---


<div class="flex items-center justify-center :w-fit py-2 px-6 border border-stone-800 rounded-full bg-stone-950">
<h3 class="relative flex items-center pl-5 text-base text-stone-50" id="status">Online<span class="absolute left-0 top-1/2 flex h-2 w-2 -translate-y-1/2 pl-1">
<span class="absolute inline-flex h-full w-full animate-ping rounded-full pl-1 opacity-75 bg-green-100"></span><span class="relative inline-flex h-2 w-2 rounded-full pl-2 bg-green-100" id="ColorStatus"></span></span></h3>

</div>

