---
export interface Props {
    Label: string;
}

const { Label } = Astro.props;

---

<div 
class="
relative
before:content-[attr(data-tip)]
before:absolute
before:px-3
before:py-2
before:left-px
before:-bottom-3
before:w-auto
before:max-w-ws
before:-translatex-1/2 
before:translate-y-full
before:bg-zinc-900
before:text-slate-50
before:rounded-md
before:opacity-0
before:transition-all

after:absolute
after:left-1/2
after:-bottom-3
after:h-0
after:w-0
after:-translate-x-2/4
after:opacity-0
after:transition-all

hover:before:opacity-100 hover:after:opacity-100


" data-tip={Label}>
    <slot />
</div>