---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import '@/styles/globals.css'
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Victor Benazzi - Desenvolvimento de sites e Landing Pages" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,600;12..96,700&family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
		<ViewTransitions />
	</head>
	<body class="flex flex-col justify-center items-center bg-zinc-900">
		<slot />
		
	</body>
</html>
 <style>
	:global(body) {
		
		font-family: 'Inter', sans-serif;
	
	}

	:global(h1) {
		font-family: 'Bricolage Grotesque', sans-serif;
		

	}

	:global(h2) {
		font-family: 'Bricolage Grotesque', sans-serif;
	}

	:global(h3) {
		font-family: 'Bricolage Grotesque', sans-serif;
	}

	:global(p) {
		
		font-family: 'Inter', sans-serif;
		
	}

 </style>