---

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="pt-br">
	<head>

		<meta charset="UTF-8" />
		<meta name="description" content="Victor Benazzi - Desenvolvimento de sites e Landing Pages" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		
	</head>
		
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-X9HTST2J42"></script>
	<script src="../scripts/Gtag.js"></script>
	<body class="flex flex-col justify-center items-center bg-stone-950 scrollbar-thin scrollbar-thumb-stone-800 scroll-smooth">
		<Header />	
		
		<slot />
		
		<Footer />
	</body>
</html>
 <style>
	:global(body) {
		
		font-family: 'Inter', sans-serif;
	
	}



	:global(p) {
		
		font-family: 'Inter', sans-serif;
		
	}

	:global(::selection) {
		background-color: #f5f5f4;
		color: #171717;
	}
	

 </style>

